# Excluded directories
.venv/

# Exclude Dockerfiles
Dockerfile

# Exclude .sif images
*.sif

# Exclude runs directory 
runs/

**.err
**.out
!scripts/Leonardo_most_recent/run_Elmer_leonardo_N1_n4_c8_ML3_most_recent_39212184.err
!scripts/Leonardo_most_recent/run_Elmer_leonardo_N1_n4_c8_ML3_most_recent_39212184.out

.rsyncignore